/***************************************************************************************************/
/* Fichier judo tableaux adherents.php */
/***************************************************************************************************/


/* TABLEAUX, LIGNES ET CELLULES */


.tableau-bouton-externe{
	width:100%;
	margin-top:1.5em;
	text-align:right;
}