
/***************************************************************************************************/
/* Fichier structure_generalites.php */
/***************************************************************************************************/



*{
	margin: 0;
	font-family: <?php echo $font['family']['main']; ?>, sans-serif;
	font-size:11px;
	line-height: 1.4em;
}

html {
  height: 100%;
}

body{
	width: calc(100%		/* Taille totale */
				- 2vw;			/* Enlever padding  left du content-background */
				- 2vw;			/* Enlever padding right du content-background */
				);
	height: 100vh;
	display: flex;
	
	flex-direction: column;
	
	background:  <?php echo $col['wallpaper']; ?>;
	
}





/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/






/* BANDEAUX */
#header,
#footer{
	width: 100%;
	
	z-index: 2;
}




#footer{
	width: 100%;
	text-align: center;
	line-height:200%;
}







/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/










/* ARRIERE-PLAN DU CONTENU  */

#content{
	flex: 1;
	
	padding-top: 3vh;
	padding-left: 4vw;
	padding-right: 4vw;
	padding-bottom: 3vh;
	
	width: calc(100%		/* Taille totale */
				- 5vw;			/* Enlever padding  left du content-background */
				- 5vw;          /* Enlever padding right du content-background */
				);
	
	
	position:relative;
	
}







/* FENÊTRE */

.window{
	margin-top: 1vw;
	margin-bottom: 3vw;
	margin-left: 2vw;
	margin-right: 2vw;
	
	
	padding:1.5em;
	
	line-height:1.25em;
	background:  <?php echo $col['background']['normal']; ?>;
	
	<?php echo $border['window']; ?>
}










/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/












/* LIENS */




a:link {
	text-decoration: underline;
	text-decoration-style: solid;
}



a:hover {
	text-decoration: underline;
	text-decoration-style: solid;
}




/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/





hr{
	margin:2em 0;
	height:0px;
	
	background: <?php echo $col['separator']['white'];?>;
	border-top-color: <?php echo $col['separator']['white'];?>;
	
	border-bottom-color: <?php echo $col['separator']['white'];?>;
	border-left-color: <?php echo $col['separator']['white'];?>;
}




/* COULEUR du texte sélectionné */
::selection {
  background: <?php echo $col['background']['selected'];?>;
  color:  <?php echo $col['text']['white'];?>;
}
::-moz-selection {
  background: <?php echo $col['background']['selected'];?>;
  color:  <?php echo $col['text']['white'];?>;
}




/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/


