
/***************************************************************************************************/
/* Fichier footer.php */
/***************************************************************************************************/


#footer{
	width: 100%
	text-align: center;
	line-height:35px;
	
	background: <?php echo $col['window']['active']; ?>;
	
	<?php echo $border['taskbar']; ?>
	
}