
/***************************************************************************************************/
/* Fichier structure_generalites.php */
/***************************************************************************************************/



*{
	margin: 0;
	font-family: roboto;
	line-height: 120%;
	
	<?php
		if($col['text']['main'] != "#000000"){
			echo "color:" . $col['text']['main'] . ";";         								/* COLOR: TEXT */
		}
	?>
}

html {
  height: 100%;
}

body{
	width: 100%;
	height: 100vh;
	display: flex;
	
	flex-direction: column;
	
	background: <?php echo $col['background'][2]; ?>;      						/* COLOR: Background 2 */
}





/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/






/* BANDEAUX */
#header,
#footer{
	width: 100%;
	
	color:	<?php echo $col['text']['primary']; ?>; 						/* COLOR: Primary TEXT */
	background: <?php echo $col['primary']['NORMAL']; ?>;      				/* COLOR: Primary NORMAL */
	
	<?php echo $shadow['SMALL']; ?>;    									/* SHADOW: Small */
	z-index: 2;
}




#footer{
	width: 100%;
	text-align: center;
	line-height:200%;
}


#footer a{
	color: <?php echo $col['text']['main']; ?>;
}
#footer a:hover{
	color: <?php echo $col['accent']['BRIGHT']; ?>;
}
#footer a:active{
	color: <?php echo $col['accent']['DARK']; ?>;
}








/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/










/* ARRIERE-PLAN DU CONTENU  */

#content{
	flex: 1;
	
	padding-top: 3vh;
	padding-left: 4vw;
	padding-right: 4vw;
	padding-bottom: 3vh;
	
	width: calc(100%		/* Taille totale */
				- 5vw;			/* Enlever padding  left du content-background */
				- 5vw;          /* Enlever padding right du content-background */
				);
	
	
	position:relative;
}







/* CONTENU (fenêtre principale) */

.window{
	margin-left:0.5vw;
	margin-right:0.5vw;
	margin-top:1vh;
	margin-bottom:2vh;
	
	padding:1.5em;
	
	font-size:80%;
	
	background: <?php echo $col['background'][3]; ?>;
	<?php echo $shadow['BIGGER']; ?> 
}










/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/









/* TITRES */
h1,
legend{
	width:100%;
	margin-bottom:0.5em;
	
	color:<?php echo $col['accent']['NORMAL']; ?>;
	
	/*
	border-bottom-color:<?php echo $col['text']['grey']; ?>;					/* COLOR: Separator *
	border-bottom-style:solid;
	border-bottom-width:1px;
	*/
}



h1{
	display:block;
	font-size:200%;
	font-weight: bold;
}









/* LIENS */

a,
#header a {
	transition: color 0.1s linear;
}


a:link {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: <?php echo $col['accent']['NORMAL']; ?>;						/* COLOR: Accent NORMAL */
}
#header a:link {
	text-decoration: none;
	color:<?php echo $col['text']['primary']; ?>;      					/* COLOR: Text PRIMARY */
}



a:visited {
	text-decoration: none;
	color: <?php echo $col['accent']['NORMAL'] ?>;						/* COLOR: Accent NORMAL */
}
#header a:visited {
	text-decoration: none;
	color:<?php echo $col['text']['primary']; ?>;						/* COLOR: Text PRIMARY */
}



a:hover {
	color: <?php echo $col['accent']['BRIGHT']; ?>;						/* COLOR: Accent BRIGHT */
}
#header a:hover {
	color: <?php echo $col['text']['primary']; ?>;						/* COLOR: Accent BRIGHT */
}

a:active {
	color:<?php echo $col['accent']['DARK']; ?>;						/* COLOR: Accent DARK */
}
#header a:active {
	color:<?php echo $col['primary']['DARK']; ?>;						/* COLOR: Accent DARK */
}





.largeur-100{
	width:100%;
}






/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/










hr{
	height:1px;
	margin-top:1em;
	margin-bottom:1em;
	
	background:<?php echo $col['separator']; ?>;
	border: none;
}





form,
table:not(.ui-datepicker-calendar){
	background: <?php echo $col['background'][4]; ?>;
	<?php echo $shadow['NORMAL']; ?>
}










/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
