/***************************************************************************************************/
/* Fichier tableaux.php */
/***************************************************************************************************/


/* TABLEAUX, LIGNES ET CELLULES */



table:not(.tableau-interne){
	width:100%;
	font-size:105%;
	
}


th{
	padding:0.5em 0.75em;
	line-height:1.5em;
	font-size:90%;
	color: <?php echo $col['text']['grey']; ?>;
}


table td{
	border-top-style:solid;
	border-top-color:<?php echo $col['separator'] ; ?>;
	border-top-width:<?php echo $border['size']; ?>;
}




.tableau-interne{
	width:25vw;
	font-size:85%;
}
.tableau-interne td{
	line-height:1.0em;
	border:none;
}



td.gris{
	color: <?php echo $col['text']['grey']; ?>;
}


table{
	/* background:linear-gradient(to top, pink, cyan); */
}
tr{
	/* background:linear-gradient(to right, red, green); */
}
td{
	/* background:linear-gradient(to bottom, yellow, lightblue); */
	padding:0.5em;
	text-align:center;
	
	white-space:nowrap;
}