
/***************************************************************************************************/
/* Fichier footer.php */
/***************************************************************************************************/


#footer{
	width: 100%
	text-align: center;
	height:25px;
	
	background: <?php echo $col['background']['normal'] ?>;
	
	<?php echo $border['taskbar']; ?>
	
}